

    <!-- Start of Card Group - With top image and footnote -->
    <div class="card-group">

        <!-- Start of first card -->
        <div class="card">
            <img src="https://via.placeholder.com/320x180?text=Replace+Me" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Card body text</p>
                <div class="card-footer">
                    <small class="text-muted">Card footer</small> </div>
            </div>
        </div>
        <!-- End of first card -->

        <!-- Start of second card -->
        <div class="card">
            <img src="https://via.placeholder.com/320x180?text=Replace+Me" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Card body text</p>
                <div class="card-footer">
                    <small class="text-muted">Card footer</small> </div>
            </div>
        </div>
        <!-- End of second card -->

        <!-- Start of third card.  Delete if not required.  Duplicate for four or more cards -->
        <div class="card">
            <img src="https://via.placeholder.com/320x180?text=Replace+Me" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Card body text</p>
                <div class="card-footer">
                    <small class="text-muted">Card footer</small> </div>
            </div>
        </div>
        <!-- End of third card -->

    </div>
    <!-- End of Card Group.-->

